.selectContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.filters{
    background: transparent;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: large;
    color: #5f5e99;
    border: 1px solid #5f5e99;
    border-radius: 5px;
}

option{
    color: black;
}